bump2version==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
bumpversion==0.6.0 ; python_version >= "3.11" and python_version < "4.0"
cfgv==3.4.0 ; python_version >= "3.8" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version < "4.0" and sys_platform == "win32" and python_version >= "3.8" or python_version < "4.0" and python_version >= "3.11" and platform_system == "Windows"
contextlib-chdir==1.0.2 ; python_version >= "3.8" and python_version < "3.11"
coverage==7.4.4 ; python_version >= "3.8" and python_version < "4.0"
distlib==0.3.8 ; python_version >= "3.8" and python_version < "4.0"
exceptiongroup==1.2.1 ; python_version >= "3.8" and python_version < "3.11"
fast-dev-cli[all]==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
filelock==3.13.4 ; python_version >= "3.8" and python_version < "4.0"
identify==2.5.35 ; python_version >= "3.8" and python_version < "4.0"
iniconfig==2.0.0 ; python_version >= "3.8" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
mypy-extensions==1.0.0 ; python_version >= "3.8" and python_version < "4.0"
mypy==1.9.0 ; python_version >= "3.8" and python_version < "4.0"
nodeenv==1.8.0 ; python_version >= "3.8" and python_version < "4.0"
packaging==24.0 ; python_version >= "3.8" and python_version < "4.0"
platformdirs==4.2.0 ; python_version >= "3.8" and python_version < "4.0"
pluggy==1.4.0 ; python_version >= "3.8" and python_version < "4.0"
pre-commit==3.5.0 ; python_version >= "3.8" and python_version < "4.0"
pygments==2.17.2 ; python_version >= "3.11" and python_version < "4.0"
pytest-mock==3.14.0 ; python_version >= "3.8" and python_version < "4.0"
pytest==8.1.1 ; python_version >= "3.8" and python_version < "4.0"
pyyaml==6.0.1 ; python_version >= "3.8" and python_version < "4.0"
rich==13.7.1 ; python_version >= "3.11" and python_version < "4.0"
ruff==0.4.0 ; python_version >= "3.8" and python_version < "4.0"
setuptools==69.5.1 ; python_version >= "3.8" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4.0"
tomli==2.0.1 ; python_version >= "3.8" and python_version < "3.11"
typer==0.12.3 ; python_version >= "3.11" and python_version < "4.0"
types-pytz==2024.1.0.20240417 ; python_version >= "3.8" and python_version < "4.0"
types-six==1.16.21.20240311 ; python_version >= "3.8" and python_version < "4.0"
types-ujson==5.9.0.0 ; python_version >= "3.8" and python_version < "4.0"
typing-extensions==4.11.0 ; python_version >= "3.8" and python_version < "4.0"
virtualenv==20.25.3 ; python_version >= "3.8" and python_version < "4.0"
