[tool.poetry]
name = "ensure-import"
version = "0.3.2"
description = "Auto install third part packages by pip into virtual environment when import error."
authors = ["Waket Zheng <waketzheng@gmail.com>"]
readme = "README.md"
license = "MIT"
homepage = "https://github.com/waketzheng/ensure_import"
packages = [{include = "ensure_import"}]

[tool.poetry.dependencies]
python = "^3.8"


[tool.poetry.group.dev.dependencies]
isort = "^5.12.0"
black = "^23.7.0"
mypy = "^1.4.1"
ruff = "^0.0.278"
pre-commit = "^3.3.3"
types-pytz = "^2023.3.1.0"
types-six = "^1.16.21.9"
pytest-mock = "^3.11.1"
coverage = "^7.3.1"
types-ujson = "^5.8.0.1"

[tool.poetry.scripts]
prepare="ensure_import.prepare:run"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
skip_glob = ["tests/*"]

[tool.black]
line-length = 100
target-version = ["py38", "py39", "py310", "py311"]

[tool.mypy]
pretty = true
ignore_missing_imports = true

[tool.flake8]
ignore = "E203,E501,W503,DAR101,DAR201,DAR402"
max-line-length = 100

[tool.ruff]
ignore = ["E501"]

[tool.ruff.per-file-ignores]
"_test_*.py" = ["E401", "E402"]
