# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - uses: astral-sh/ruff-action@v3
      - uses: extractions/setup-just@v3  # Or: uv tool install rust-just
      - name: Prepare tools
        run: |
          python -m pip install --upgrade pip
          uv tool install fastdevcli-slim
      - name: Setup PDM by uv
        run: |
          uv tool install pdm --with msgpack
          pdm config check_update false
          pdm config use_uv true
      - name: Check code style and Type Hint
        run: just check
      - name: test
        run: uv run --no-sync coverage run -m pytest -s
      - name: report
        run: uv run --no-sync coverage report --omit="tests/*" -m
